<!-- header  -->
<%- include("./partials/header")%>
<div class="ui main text container">
    <div class="ui huge header">
        RESTful Blog App using Node JS
    </div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% blogs.forEach(blog => { %>
                <div class="item">
                    <div class="ui small image">
                        <img src="<%= blog.image%>" alt="" class="img-size">
                    </div>
                    <div class="content">
                        <a href="/blogs/<%=blog._id%>" class="ui violet header"><%=blog.title%></a>
                        <div class="meta">
                            <span><%= blog.created.toDateString() %></span>
                        </div>
                        <div class="description">
                            <p><%- blog.body.substring(0,100) %>...</p>
                        </div>
                        <div class="extra">
                            <a href="/blogs/<%= blog._id%>" class="ui floated basic violet button">READ MORE</a>
                        </div>
                    </div>
                </div>
                
            <% })%>
        </div>
    </div>
</div>


<!-- footer  -->
<%- include("./partials/footer")%>